{% extends 'recipes/base.html' %}

{% block main %}
<h1>Список станций</h1>
<table class="table table-hover">
    <thead>
        <tr>

            <th>Name</th>
            <th>Street</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        {% for k in list  %}
        <tr>

            <td>{{k.Name}}</td>
            <td>{{k.Street}}</td>
            <td>{{k.District}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if list.has_previous %}
<a class="btn btn-primary" href="?page={{list.previous_page_number}}" role="button"><--</a>
{% endif %}
<button type="button" class="btn btn-outline-info">{{list.number}}</button>
{% if list.has_next %}
<a class="btn btn-primary" href="?page={{list.next_page_number}}" role="button">--></a>
{% endif %}
{% endblock main %}


